@import '../components/modal.scss';


:root {
  --main-color: #F5F5F5;
  
}

.profileContainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--main-color);
  .profile-wrapper {
    .content-upload-btn {
      padding: 10px;
      width: 100px;
      display: flex;
      gap: 5px;
      margin-top: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: #385667;
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #2d4453;
      }
    }
    .profile-container {
      margin-top: 1.5rem;
      box-sizing: border-box;
      border: 1px solid #d3d3d3;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .profile-header {
        display: flex;
        gap: 20px;
        .profile-image {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .profile-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .profile-name {
            font-size: 2rem;
            font-weight: 600;
          }
          .profile-email {
            font-size: 1.5rem;
            font-weight: 500;
          }
          .profile-bio {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
      .profile-posts {
        display: flex;
        gap: 20px;
        .profile-post {
          width: 200px;
          height: 200px;
          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.book-category-list {
  &__button {
    padding: 8px 16px;
    width: 200px;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    &:hover {
      background-color: #2d4453;
      color: #fff;
    }
  }

  &__options {
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    .option {
      padding: 10px 20px;
      text-align: left;
      outline: none;
      color: #2d4453;
      transition: 0.3s;
      &:hover {
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
      }
      &.active {
        background-color: #3498db;
        color: #fff;
      }
      &.selected {
        font-weight: 600;
      }
    }
  }

  &__option {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 10px 20px;
    color: #2d4453;
    &.active {
      background-color: #3498db;
      color: #fff;
    }
  }

  .selected-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .icon {
    height: 20px;
    width: 20px;
    color: #3498db;
  }
}
